.exp-section h2 {
  font-size: 2.3rem;
}

.exp-skills span {
  /* color: gray; */
  color: rgb(156, 163, 178);
}

.exp-skills span:hover {
  color: rgb(216, 211, 214);
  transition: all 0.1s ease-out;
}

.my-exp-container {
  border: 2px solid rgb(216, 211, 214);
  border-radius: 0.5rem;
}

@media (max-width: 1000px) {
  #education {
    width: 100%;
  }
}

@media (max-width: 550px) {
  #education {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
